.magazine-section {
    background-color: #DFD9D1;
    width: 100%;
    height : 600px;
    display: flex;
    flex-direction: column;
}
.magazine-section__title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section__title {
    font-size : 30px;
    font-weight: 600;
    margin-top : 25px;
    margin-bottom: 15px;
}
.section__subtitle { 
    font-size: 15px;
    opacity: 0.7;
    margin-bottom : 30px;
}


.magazine-section__img {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.magazine-section__rightmenu{
    background-color: white;
    width:30vw;
    height : 450px;
}
.magazine-section__img img{ 
    margin-left : 30px;
    width : 70vw;
    height: 450px;
}
.magazine-section__rightmenu-column{
    display: flex;
    
}
.magazine-section__rightmenu-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.magazine-section__rightmenu-column img{
    width : 75px;
    height : 75px;
    margin-right : 15px;
}
.magazine-section__rightmenu-column {
    margin-top : 30px;
}