.product-section {
    width : 100%;
    height : 500px;
    background-color: wheat;
}
.product-section__title { 
    text-align: center;
    font-weight: 600;
}
.product-section__title span {
   margin-top : 30px;
}