.product-section {
    display: flex;
    flex-direction: row;

    width : 100%;
    height : 500px;
    background-color: wheat;
}
.product-section__title { 

    margin-top : 25px;
    font-size : 30px;
    text-align: center;
    font-weight: 600;

}
.product-section__column { 
    display: flex;
    flex-direction: column;


}
.product-section__column img { 
    margin : 40px;
}
.product-section__column span {
}